.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}
.pagination > button {
    border-radius: 5px;
    color: white;
    background-color: rgb(50, 50, 50, .8);
    cursor: pointer;
    outline: none;
    border: none;
    padding: 4% 10% 4% 10%;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 .2rem 0 .2rem;
}
.pagination > button:hover {
    background-color: rgba(50, 50, 50, 1);
}