form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.input-layout {
    min-width: 80%;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
    margin-bottom: .5rem;
}
.input-layout > label {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--textColor);
    opacity: 0;
    transition: all .3s ease;
    font-size: .8rem;
}
.fade-transition {
    opacity: 1 !important;
}
.hide-placeholder::placeholder {
    color: rgba(0, 0, 0, 0) !important;
    transition: all .3s ease;
    font-size: 1rem;
}
.input-field {
    display: flex;
}
.input-field > input {
    width: 100%;
    height: 2rem;
    background-color: rgba(240, 240, 240, 0) !important;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: .5rem 3rem .5rem 1rem;
    color: white;
}
.input-field > input::placeholder {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
.input-field > input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: white !important;
}
.input-field > input + i {
    align-self: center;
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    color: var(--iconColor);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #c86cfa inset !important;
    -webkit-text-fill-color: white !important;
}
input:-webkit-autofill + i,
input:-webkit-autofill:hover + i,
input:-webkit-autofill:focus + i,
input:-webkit-autofill + i
input:focus {
    color: white !important;
}
button {
    align-self: center;
    min-width: 50%;
    min-height: 2.4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 100px;
    background-image: linear-gradient(90deg, #70cffc, #2f95c5, #6456e2, #9e38d4, #c86cfa);
    font-weight: bold;
    border: none;
    color: rgba(240, 240, 240, 1);
    letter-spacing: 2px;
    transition: transform .2s ease;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button:active {
    transform: scale(.9);
}
.bounce-animation {
    animation: bounce .4s ease;
}