@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Merriweather+Sans:wght@500&display=swap');
:root {
    --primaryColor: #9e38d4;
    --primaryColorAlt: #c86cfa;
    --secondaryColor: #2f95c5;
    --secondaryColorAlt: #70cffc;
    --textColor: white;
    --textColorAlt: #585858;
    --iconColor: white;
    --iconColorAlt: #707070;
}
html, body {
    margin: 0;
}
body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: white;
    background-image: linear-gradient(45deg, var(--secondaryColorAlt), var(--secondaryColor),
     #6456e2, var(--primaryColor), var(--primaryColorAlt));
}
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10%;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 0 0 10px 5px rgba(50, 50, 50, .8);
    z-index: 1;
}
h1, h2, p, label, span, a {
    font-family: 'IBM Plex Sans', sans-serif;
}
.navbar-title {
    display: flex;
    align-items: center;
}
.navbar-title > img {
    height: 2rem;
}
.navbar-left,
.navbar-right {
    display: flex;
    height: 100%;
    flex-grow: 1;
}
.navbar-left > ul,
.navbar-right > ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0 6% 0 6%;
}
.navbar-right {
    justify-content: flex-end;
}
.navbar ul > li {
    cursor: pointer;
    transition: all .3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    position: relative;
}
.navbar ul > li:hover {
    background-color: rgba(70, 70, 70, 1) !important;
}
.navbar ul > li:not(.navbar-title) > span {
    font-family: 'Merriweather Sans', sans-serif;
    display: none;
}
main {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-top: 3rem;
}
main > .container {
    margin-top: 2rem;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    background-color: none;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
    border-radius: 5px;
}
.container > section {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
}
.dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 91vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(50, 50, 50, .8);
    padding: .5rem;
    border-radius: 5px;
    display: none;
    border: 1px solid #6456e2;
}
.dropdown-content > p {
    text-align: center;
}
.dropdown-content > ul {
    padding: 0;
}
.dropdown-content li {
    border-radius: 5px;
}
.dropdown-content li:hover {
    background-image: linear-gradient(90deg, var(--secondaryColorAlt), var(--secondaryColor),
     #6456e2, var(--primaryColor), var(--primaryColorAlt));
}
.dropdown-content p,
.dropdown-content span {
    font-family: 'Merriweather Sans', sans-serif;
}
.dropdown-content span {
    padding: .5rem 0 .5rem 0;
    font-size: .9rem;
    display: block !important;
}
.dropdown-content i {
    padding-right: .5rem;
}
.dropdown:hover:hover > .dropdown-content,
.dropdown-content:hover {
    display: block !important;
    cursor: default !important;
}
.cards-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    margin: 1rem;
    color: gray !important;
    position: relative;
}
.card-car {
    display: flex;
    max-width: 100%;
    max-height: 15rem;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
}
/*.card-car:hover > p {
    display: block !important;
}
.card-car:hover > img {
    filter: blur(20px);
}*/
.card-car > img {
    height: 100% !important;
    width: 100% !important;
}
.card-car > i {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(50, 50, 50);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5%;
}
.card-car > i:hover {
    background-image: linear-gradient(45deg, var(--secondaryColorAlt), var(--secondaryColor),
    #6456e2, var(--primaryColor), var(--primaryColorAlt));
    color: white;
}
.card-car > h2 {
    position: absolute;
    padding: 5%;
    margin: 0;
}
.card-car > p {
    position: absolute;
    bottom: 0;
    padding: 5%;
    display: none;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
footer > ul {
    list-style-type: none;
    padding: 0 5% 0 5%;
}
footer p {
    font-size: .9rem;
}
footer a {
    font-size: .8rem;
    text-decoration: none;
    color: white;
}
h1 {
    color: var(--textColor);
}
@media(min-width: 768px) {
    .navbar ul > li > i {
        padding-right: .5rem;
    }
    .navbar ul {
        padding: 0 10% 0 6% !important;
    }
    .card-car {
        max-width: 32%;
    }
}
@media(min-width: 425px) and (max-width: 767px) {
    .card-car {
        max-width: 49%;
    }
}
@media(min-width: 425px) {
    .navbar ul > li:not(.navbar-title) > span {
        display: block;
    }
    .dropdown-content {
        min-width: 300%;
    }
}