:root {
    --primaryColor: #9e38d4;
    --primaryColorAlt: #c86cfa;
    --secondaryColor: #2f95c5;
    --secondaryColorAlt: #70cffc;
    --textColor: white;
    --textColorAlt: #585858;
    --iconColor: white;
    --iconColorAlt: #707070;
}