<footer>
    <ul>
        <li><p>Información</p></li>
        <li><a href="#">Misión</a></li>
        <li><a href="#">Origén</a></li>
        <li><a href="#">Valores</a></li>
    </ul>
    <ul>
        <li><p>Contacto</p></li>
        <li><a href="#">Telefonos</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Whatsapp</a></li>
    </ul>
    <ul>
        <li><p>Otros</p></li>
        <li><a href="#">Politicas</a></li>
        <li><a href="#">Seguridad</a></li>
        <li><a href="#">Proyectos</a></li>
    </ul>
    <p>© Rentacar 2021</p>
</footer>