.bounce-animation {
    animation: bounce .4s ease;
}
.fade-transition {
    opacity: 1 !important;
}
.hide-placeholder::placeholder {
    color: rgba(0, 0, 0, 0) !important;
    transition: all .3s ease;
    font-size: 1rem;
}

.input-layout {
    min-width: 80%;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}
.input-layout > label {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--textColor);
    opacity: 0;
    font-weight: bold;
    transition: all .3s ease;
    font-size: .9rem;
}
.input-field {
    display: flex;
    margin-bottom: 0 !important;
}
.input-primary {
    height: 2rem;
    background-color: rgba(240, 240, 240, 0);
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 16px 2px rgba(50, 50, 50, .2);
    padding: .5rem 3rem .5rem 1rem;
    color: var(--textColor);
}
.input-secondary {
    border-radius: 5px;
    outline: none;
    padding: .5rem .7rem .5rem .7rem;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .5);
    color: var(--textColor);
}
input::placeholder {
    color: var(--textColor);
    font-family: 'IBM Plex Sans', sans-serif;
}
.input-field > input + i {
    align-self: center;
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    color: var(--iconColor);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #c86cfa inset !important;
    -webkit-text-fill-color: white !important;
}
input:-webkit-autofill + i,
input:-webkit-autofill:hover + i,
input:-webkit-autofill:focus + i,
input:-webkit-autofill + i
input:focus {
    color: var(--textColor) !important;
}
.input-layout > .input-log {
    color: var(--textColor);
    position: absolute;
    top: 100%;
    left: 2%;
    font-size: .9rem;
    font-weight: normal;
}