@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Merriweather+Sans:wght@500&display=swap');
.button {
    letter-spacing: 2px;
    transition: transform .2s ease;
    cursor: pointer;
    align-self: center;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 100px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 5px 5px 16px 2px rgba(50, 50, 50, .3);
}
.button:active {
    transform: scale(.9);
}
.button-danger {
    background-color: var(--dangerColor) !important;
    color: var(--textColor);
}
.button-primary {
    background-image: linear-gradient(45deg, var(--secondaryColorAlt), var(--secondaryColor),
        #6456e2, var(--primaryColor), var(--primaryColorAlt));
    color: var(--textColor);
}
.generic-valoration {
    display: flex;
    padding-bottom: .5rem;
}
.generic-valoration > i {
    margin: 0 .5rem 0 .5rem;
    color: gold;
}
.hidden {
    display: none !important;
}
.opaque {
    opacity: 0;
}
.make-visible {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

h1, h2, h3, label, a {
    font-family: 'IBM Plex Sans', sans-serif;
}
p, span {
    font-family: 'Merriweather Sans', sans-serif;
}
input::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
}
h1 {
    
}
h3 {
    font-size: 1.1rem;
}
label {
    font-size: .9rem;
}
p {
    font-size: .9rem;
}
a {
    font-size: .9rem;
}