.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    height: 10vh;
    background-image: linear-gradient(45deg, var(--barGradientColor1), var(--barGradientColor2), var(--barGradientColor1));
    box-shadow: 0 0 10px 5px var(--navbarShadowColor);
    z-index: 3;
}
.navbar-title {
    display: flex;
    align-items: center;
}
.navbar-title img {
    height: 2rem;
}
.navbar-left,
.navbar-right {
    display: flex;
    height: 100%;
    flex-grow: 1;
}
.navbar-left > ul,
.navbar-right > ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    color: var(--textColor);
    margin: 0;
    padding: 0 6% 0 6%;
}
.navbar-right {
    justify-content: flex-end;
}
.navbar ul > li {
    cursor: pointer;
    transition: background .3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    position: relative;
    margin-bottom: .2rem;
}
.navbar ul > li label > i {
    cursor: pointer;
}
.navbar-location {
    cursor: default !important;
}
.navbar ul > li i + span,
.main-actions ul > li i + span {
    padding-left: .5rem;
}
.navbar > div > ul > li:not(.navbar-location):not(.dropdown):hover {
    background-color: rgba(70, 70, 70, 1) !important;
    border-bottom: 5px solid gold;
}
.navbar ul > li > span,
.navbar ul > li > a {
    font-size: 1rem;
    color: var(--textColor);
    font-family: 'Merriweather Sans', sans-serif;
    padding: .5rem 0 .5rem 0;
    text-decoration: none;
    width: 100%;
}
.navbar ul > li:not(.navbar-title):not(.navbar-location) > span {
    display: none;
}

.main-actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 10%;
    height: 5vh;
    background-image: linear-gradient(45deg, var(--secondaryColorAlt), var(--secondaryColor),
     #6456e2, var(--primaryColor), var(--primaryColorAlt));
    box-shadow: 0 0 8px 2px rgba(50, 50, 50, .5);
    z-index: 2;
}
.main-actions span {
    white-space: nowrap;
}
.main-actions > ul > li:hover {
    background-color: var(--textColor);
    color: var(--textColorAlt);
}
.main-actions > ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    color: var(--textColor);
    margin: 0;
    padding: 0 6% 0 6%;
}
.main-actions > ul > li {
    cursor: pointer;
    transition: background .3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    position: relative;
}

.main-actions > ul > li:hover input:focus,
.main-actions > ul > li:hover input::placeholder {
    color: var(--textColorAlt);
}
.main-action-search input {
    width: 0;
    opacity: 0;
    outline: none;
    transition: width 1s ease;
    background-color: white;
    border-radius: 5px;
    background-color: rgba(50, 50, 50, 0);
}
.main-action-search input:focus {
    margin-left: .5rem;
    width: 100px !important;
    opacity: 1;
    color: var(--textColor);
}
.main-action-search input::placeholder {
    color: rgba(255, 255, 255, .7);
}

.fixed-location {
    display: flex;
    width: min-content;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 1rem 0 1rem;
    bottom: 5%;
    left: 0;
    height: 5%;
    background-color: var(--fixedLocationBgColor);
    color: var(--textColor);
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: nowrap;
}

.slide-left-fl {
    transition: all .5s ease 2s !important;
    left: -50%;
}
@media(min-width: 768px) {
    .navbar ul {
        padding: 0 10% 0 6% !important;
    }
    .navbar ul > li:not(.navbar-title) > span {
        display: block;
    }
    .fixed-location {
    }
}
@media(min-width: 426px) and (max-width: 767px) {
}