<nav class="navbar">
    <div class="navbar-left">
        <ul>
            <li class="navbar-title">
                <img src="media/images/main_logo.png" alt="">
            </li>
            <li class="navbar-location"><span data-location=""></span></li>
        </ul>
    </div>
    <div class="navbar-right">
        <ul>
            <li class="dropdown"><i class="fas fa-bell"></i><span></span>
                <div class="dropdown-content">
                    <p>Notificaciones</p>
                    <ul>
                        <li><span>foo foo foo foo foo foo foo.</span></li>
                        <li><span>foo foo foo foo foo foo foo.</span></li>
                        <li><span>foo foo foo foo foo foo foo.</span></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown"><i class="fas fa-user"></i><span>Juan</span>
                <div class="dropdown-content">
                    <p>Thanos</p>
                    <ul>
                        <li><span>Conductores</span></li>
                        <li><span>Ventas</span></li>
                        <li><span>Perfil</span></li>
                        <li><span>Salir</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>