<div class="modal hidden" id="driverOptions">
    <div class="modal-card-small">
        <div class="modal-header">
            <h2>Opciones</h2>
            <i class="fas fa-times"></i>
        </div>
        <div class="modal-body">
            <div class="driver-info-layout">
                <img src="media/images/foo.jpeg" alt="foo">
                <div class="driver-valoration">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="driver-info">
                    <span>Juanito Camela Rosas Sosa</span>
                    <span>hmaldonado0@ucol.mx</span>
                    <span>3142231231</span>
                </div>
            </div>
            <button class="button-main"><i class="fas fa-trash"></i> Despedir</button>
        </div>
    </div>
</div>
<div class="modal hidden" id="newDriverConfirm">
    <div class="modal-card-small">
        <div class="modal-header">
            <h2>¿Desea generar un nuevo código?</h2>
            <i class="fas fa-times"></i>
        </div>
        <div class="modal-body">
            <div class="split-buttons">
                <button id="newDriverGen" class="button button-primary"><i class="fas fa-plus-circle"></i> Generar</button>
                <button class="button button-danger"><i class="fas fa-times-circle"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal hidden" id="newDriverCode">
    <div class="modal-card-small">
        <div class="modal-header">
            <h2>Código de registro</h2>
            <i class="fas fa-times"></i>
        </div>
        <div class="modal-body">
            <p class="modal-strong">3f2434F$#$Fs3</p>
            <button class="button button-primary"><i class="far fa-copy"></i> Copiar</button>
        </div>
    </div>
</div>