<div class="modal hidden" id="saleInfo">
    <div class="modal-card-small">
        <div class="modal-header">
            <h2>Información de venta</h2>
            <i class="fas fa-times"></i>
        </div>
        <div class="modal-body">
            <div class="modal-row">
                <a href="car.php" target="_blank">Ver auto</a>
                <a href="drivers.php" target="_blank">Ver conductor</a>
            </div>
            <h3>Reportes</h3>
            <button class="button button-primary"><i class="fas fa-download"></i> Entrega</button>
            <button class="button button-primary"><i class="fas fa-download"></i> Devolución</button>
        </div>
    </div>
</div>