body.theme-dark {
    --primaryColor: #9e38d4;
    --primaryColorAlt: #c86cfa;
    --secondaryColor: #2f95c5;
    --secondaryColorAlt: #70cffc;
    --alternativeColor: gold;
    --textColor: white;
    --textColorAlt: rgb(50, 50, 50);
    --iconColor: white;
    --iconColorAlt: #707070;
    --dangerColor: rgba(225, 0, 0, .8);
    --inputPrimaryBgColor: rgba(240, 240, 240, 0);
    --inputPrimaryShadowColor: rgba(50, 50, 50, .2);
    --inputSecondaryBgColor: rgba(0, 0, 0, .3);
    --inputSecondaryBorderColor: rgba(255, 255, 255, .5);
    --selectBgColor: rgba(50, 50, 50);
    --inputPhBgColor: #c86cfa;
    --inputLogColor: rgba(255, 255, 255, .7);
    --switchOffColor: rgba(255, 255, 255, .5);
    --inputFileBgColor: rgba(0, 0, 0, .4);
    --inputFileBorderColor: rgba(255, 255, 255, .5);
    --inputFileDragoverBgColor: rgba(255, 255, 255, .3);
    --inputFileEmptyColor: rgba(255, 255, 255, .5);
    --inputFileActionsHover: rgba(255, 255, 255, .2);
    --alertItemBgColor: rgba(255, 255, 255, .8);
    --alertItemShadowColor: rgba(50, 50, 50, .5);
    --carsCardsColor: gray;
    --carCardEmptyColor: rgba(255, 255, 255, .8);
    --barGradientColor1: rgba(50, 50, 50, 1);
    --barGradientColor2: rgba(50, 50, 50, .9);
    --navbarShadowColor: rgba(50, 50, 50, .8);
    --fixedLocationBgColor: rgba(50, 50, 50, 1);
    --loadingScreenBgColor: rgba(50, 50, 50, 1);
    --loadingScreenShadowColor: rgba(20, 20, 20, .5);
    --modalBgColor: rgba(50, 50, 50, .8);
    --modalGradientColor1: rgba(255, 255, 255, .8);
    --modalGradientColor2: rgba(255, 255, 255, .5);
    --modalBodyBgColor: white;
    --cardsSalesBgColor: white;
    --cardsSalesBorderColor: white;
    --inputIconButtonHoverColor: rgb(70, 70, 90);
}