:root {
    --primaryColor: #9e38d4;
    --primaryColorAlt: #c86cfa;
    --secondaryColor: #2f95c5;
    --secondaryColorAlt: #70cffc;
    --textColor: white;
    --textColorAlt: rgb(50, 50, 50);
    --iconColor: white;
    --iconColorAlt: #707070;
    --dangerColor: rgba(225, 0, 0, .8);
}