@import url("../../themes/default.css");
@import url("../../components/global.css");
@import url("../../components/navbar.css");
@import url("../../components/dropdown.css");
@import url("../../components/footer.css");
@import url("../../components/sales-cards.css");
@import url("../../components/pagination.css");
@import url("../../components/modal.css");
@import url("../../components/form.css");
html, body {
    margin: 0;
}
body {
    max-width: 100vw;
    background-image: linear-gradient(45deg, var(--secondaryColorAlt), var(--secondaryColor),
     #6456e2, var(--primaryColor), var(--primaryColorAlt));
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}
main > .container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
    border-radius: 5px;
}
.container > section {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
}
h1 {
    color: var(--textColor);
}
@media(min-width: 768px) {
    main > .container {
        width: 100%;
    }
}
@media(min-width: 425px) and (max-width: 767px) {
}
@media(min-width: 425px) {
    .navbar ul > li:not(.navbar-title) > span {
        display: block;
    }
    .dropdown-content {
        min-width: 300%;
    }
}