@import url("../../components/global.css");
@import url("../../components/navbar.css");
@import url("../../components/dropdown.css");
@import url("../../components/footer.css");
@import url("../../components/modal.css");
@import url("../../components/form.css");
html, body {
    margin: 0;
}
body {
    max-width: 100vw;
    background-image: linear-gradient(45deg, var(--secondaryColorAlt), var(--secondaryColor),
     #6456e2, var(--primaryColor), var(--primaryColorAlt));
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}
main > .container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
    border-radius: 5px;
}
.container > section {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
}
.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.content-index {
    display: none;
    padding: 2rem 0;
    background-color: rgba(50, 50, 50, .5);
    border-right: 5px solid var(--textColorAlt);
    border-bottom: 5px solid var(--textColorAlt);
}
.content-index > a:visited,
.content-index > a {
    color: var(--textColor) !important;
}
.content {
    width: 100%;
    padding: 0 2rem;
    color: var(--textColor);
}
.content > .content-item > p {
    font-size: 1rem;
}
h1 {
    color: var(--textColor);
}
@media(min-width: 768px) {
    main > .container {
        width: 100%;
    }
    .content-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .content-index {
        display: block;
        width: 30%;
    }
    .content-index > a {
        display: block;
        padding: .5rem 1rem;
    }
    .content-index > a:hover {
        background-color: rgba(50, 50, 50);
    }    
    .content > .content-item {
        scroll-margin-top: 5rem !important;
    }
}
@media(min-width: 425px) and (max-width: 767px) {
}
@media(min-width: 425px) {
    .navbar ul > li:not(.navbar-title) > span {
        display: block;
    }
    .dropdown-content {
        min-width: 300%;
    }
}