<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentacar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rentacar">
        <activity
            android:name=".activities.G_Home"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Rentacar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.L_Home"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Rentacar.NoActionBar">
        </activity>
        <activity
            android:name=".activities.G_Login"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:parentActivityName=".activities.L_Home">
        </activity>
            <activity
                android:name=".activities.L_Register"
                android:label="@string/app_name"
                android:parentActivityName=".activities.G_Login"
                android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.Rentacar.NoActionBar">
            </activity>
    </application>

</manifest>