<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentacar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rentacar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rentacar.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.G_Home"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activities.L_Home"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activities.G_Login"
            android:label="@string/app_name"
            android:parentActivityName=".activities.L_Home"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.L_Register"
            android:label="@string/app_name"
            android:parentActivityName=".activities.G_Login"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activities.L_Cars"
            android:label="@string/app_name"
            android:parentActivityName=".activities.L_Home"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activities.GetLocation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activities.D_DriverDelivery"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rentacar.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>

</manifest>